@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/***** General *****/
:root {
    --mantis: #7ac74fff;
    --pistachio: #a1cf6bff;
    --straw: #d5d887ff;
    --citron: #e0c879ff;
    --bittersweet: #e87461ff;
    --raisin-black: #232020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

/* .main {
    min-height: 100vh;
} */

/***** Layout *****/
.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    color: white;
    background-color: transparent;
    z-index: 100;
}

.scrolled {
    background-color: rgba(0, 0, 0, 0.85);
}

.login-button {
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login-button:hover {
    transform: scale(1.05);
}

/***** Footer *****/
.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    background-color: black;
    color: white;
}

.footer h1 {
    color: var(--pistachio);
}

.footer-column-first {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-column h5 {
    font-size: medium;
    padding-bottom: 5px;
}

.footer-column p {
    font-size: small;
}

/***** Welcome Page *****/
.welcome {
    top: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: calc(100vh - 67.5px);
    color: white;
    padding: 50px;
}

.welcome h2 {
    font-size: 40px;
    padding-bottom: 10px;
    color: whitesmoke;
}

.welcome p {
    font-size: large;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.start-link {
    background-color: var(--mantis);
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
}

.start-link:hover {
    transform: scale(1.05);
}

.title {
    font-weight: bold;
    color: var(--pistachio);
    font-size: larger;
}

.welcome-bg {
    position: absolute;
    top: 0;
    background-image: linear-gradient(to bottom, transparent, black), url("./images/welcome.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

/***** RecipeFinder Page *****/
.recipe-finder {
    height: 100vh;
}

.search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar {
    width: 50vw;
    padding: 10px 90px 10px 20px;
    border: 2px solid white;
    border-radius: 22.5px;
    color: black;
    font-size: large;
    background-color: whitesmoke;
}

.search-button {
    position: absolute;
    right: 6px;
    padding: 5px 10px;
    background-color: var(--mantis);
    color: white;
    border: 2px solid var(--mantis);
    border-radius: 16px;
    font-size: medium;
}

.search-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.recipe-finder-header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--raisin-black);
    box-shadow: 0px 2px 2px black;
}

.recipe-finder-header > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px;
}

.recipe-finder-header > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 10px;
}

.recipe-finder-header h1 {
    color: var(--pistachio);
}

.search-filter-container {
    display: flex;
    gap: 10px;
}

.recipe-finder-body {
    background-color: black;
    height: calc(100vh - 133.5px);
    display: flex;
    justify-content: center;
    color: white;
    padding: 0px 80px;
}

.result-container {
    display: flex;
    flex: 1;
}

.scrollable-list {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.scrollable-list > div:nth-child(1) {
    height: 60px;
    background-color: var(--pistachio);
}

.scrollable-list > div:nth-child(2) {
    flex: 1;
    overflow-y: scroll;
    background-color: var(--raisin-black);
}

.scrollable-detail {
    flex: 1;
    overflow-y: scroll;
    background-color: var(--raisin-black);
}

/***** RecipeSearch Section *****/
/* .recipe-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    min-height: 100vh;
    padding: 40px 0px 20px;
}

.search-bg {
    background-image: linear-gradient(to top, var(--raisin-black), black), url("./images/search.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.search-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.search-title h2 {
    font-size: xx-large;
    color: var(--mantis);
}

.search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.single-select-group {
    display: flex;
    gap: 8px;
}

.search-bar {
    width: 60vw;
    padding: 15px 10px;
    padding-right: 100px;
    border: 2px solid white;
    border-radius: 5px;
    color: black;
    font-size: large;
    background-color: whitesmoke;
}

.search-button {
    position: absolute;
    right: 5px;
    padding: 10px;
    background-color: var(--mantis);
    color: white;
    border: 2px solid var(--mantis);
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
}

.search-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.result-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    flex: 1;
    width: 100%;
}

.no-result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    flex: 1;
}

.search-loading {
    font-size: x-large;
    font-weight: bold;
    color: var(--straw);
}

.search-error {
    font-size: x-large;
    font-weight: bold;
    color: var(--bittersweet);
}

.search-notfound {
    font-size: x-large;
    font-weight: bold;
    color: var(--citron);
}

.search-message {
    font-size: x-large;
    font-weight: bold;
    color: var(--straw);
}

.recipe-card {
    width: 320px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--raisin-black);
}

.recipe-card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.recipe-image {
    border-radius: 5px;
}

.recipe-label {
    padding: 10px 0;
    word-wrap: break-word;
    font-weight: bold;
    text-align: center;
}

.recipe-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: var(--pistachio);
    margin-top: auto;
    word-wrap: break-word;
} */