@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/***** General *****/
:root {
    --mantis: #7ac74fff;
    --pistachio: #a1cf6bff;
    --straw: #d5d887ff;
    --citron: #e0c879ff;
    --bittersweet: #e87461ff;
    --raisin-black: #232020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

/* .main {
    min-height: 100vh;
} */

/***** Layout *****/
.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    color: white;
    background-color: transparent;
    z-index: 100;
}

.scrolled {
    background-color: rgba(0, 0, 0, 0.85);
}

.login-button {
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login-button:hover {
    transform: scale(1.05);
}

/***** Footer *****/
.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    background-color: black;
    color: white;
}

.footer h1 {
    color: var(--pistachio);
}

.footer-column-first {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-column h5 {
    font-size: medium;
    padding-bottom: 5px;
}

.footer-column p {
    font-size: small;
}

/***** Welcome Page *****/
.welcome {
    top: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: calc(100vh - 67.5px);
    color: white;
    padding: 50px;
}

.welcome h2 {
    font-size: 40px;
    padding-bottom: 10px;
    color: whitesmoke;
}

.welcome p {
    font-size: large;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.start-link {
    background-color: var(--mantis);
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
}

.start-link:hover {
    transform: scale(1.05);
}

.title {
    font-weight: bold;
    color: var(--pistachio);
    font-size: larger;
}

.welcome-bg {
    position: absolute;
    top: 0;
    background-image: linear-gradient(to bottom, transparent, black), url("./images/welcome.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

/***** Recipe Finder Component *****/
.recipe-finder {
    height: 100vh;
}

.search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar {
    width: 50vw;
    padding: 10px 90px 10px 20px;
    border: 2px solid white;
    border-radius: 22.5px;
    color: black;
    font-size: large;
    background-color: whitesmoke;
}

.search-button {
    position: absolute;
    right: 6px;
    padding: 5px 10px;
    background-color: var(--mantis);
    color: white;
    border: 2px solid var(--mantis);
    border-radius: 16px;
    font-size: medium;
}

.search-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.recipe-finder-header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--raisin-black);
    box-shadow: 0px 2px 2px black;
}

.recipe-finder-header > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px;
}

.recipe-finder-header > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 10px;
}

.recipe-finder-header h1 {
    color: var(--pistachio);
}

.search-filter-container {
    display: flex;
    gap: 10px;
}

/***** Recipe Result Component *****/
.recipe-result {
    background-color: black;
    height: calc(100vh - 133.5px);
    display: flex;
    justify-content: center;
    color: white;
    padding: 0px 80px;
}

.recipe-result__error {
    align-items: center;
    color: var(--bittersweet);
    font-size: x-large;
    font-weight: bold;
}

.recipe-result__loading {
    align-items: center;
    color: var(--citron);
    font-size: x-large;
    font-weight: bold;
}

.recipe-result__container {
    display: flex;
    flex: 1;
}

.recipe-result__list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.recipe-result__count {
    height: 60px;
    background-color: var(--mantis);
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--raisin-black);
}

.recipe-result__card-container {
    flex: 1;
    overflow-y: scroll;
    background-color: var(--raisin-black);
}

.recipe-result__no-card-container {
    display: flex;
    background-color: var(--raisin-black);
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    flex: 1;
}

.recipe-result__detail-container {
    flex: 1;
    overflow-y: scroll;
    background-color: var(--raisin-black);
}

/***** Recipe Card Component *****/
.recipe-card {
    width: 100%;
    height: 200px;
    box-shadow: 0px 2px 2px black;
    padding: 20px;
    display: flex;
    gap: 10px;
}

.recipe-card:hover {
    cursor: pointer;
    background-color: black;
}

.recipe-card__focused {
    background-color: black;
}

.recipe-card__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    flex: 1;
}

.recipe-card__desc h6 {
    color: var(--pistachio);
    font-size: large;
}

.recipe-card__desc-row {
    display: flex;
    justify-content: space-between;
}

.recipe-card__desc a {
    text-decoration: none;
    font-style: italic;
    color: var(--citron);
}

.recipe-card__desc a:hover {
    font-weight: bold;
}

/***** Recipe Detail Component *****/
.recipe-detail {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe-detail__no-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
}

.recipe-detail__row {
    display: flex;
    gap: 10px;
}

.recipe-detail__col {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: baseline;
    padding: 0px 10px;
    word-wrap: break-word;
}

.recipe-detail__col h2 {
    font-size: x-large;
    color: var(--pistachio);
    padding-bottom: 5px;
}

.recipe-detail__col h6 {
    font-size: large;
    color: var(--citron);
}

.recipe-detail__col p {
    font-size: medium;
    color: white;
}

.recipe-detail__col a {
    text-decoration: none;
    font-style: italic;
    color: var(--bittersweet);
}

.recipe-detail__col a:hover {
    font-weight: bold;
}

.recipe-detail__chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.recipe-detail__chip {
    background-color: var(--straw);
    color: var(--raisin-black);
    padding: 1px 7px;
    border-radius: 11px;
    font-size: small;
}