@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/***** General *****/
:root {
    --licorice: #110B11;
    --dark-green: #14342bff;
    --asparagus: #60935dff;
    --avocado: #598B2C;
    --tomato: #F95738;
    --pumpkin:#F0803C;
    --sea-salt: #FCFAF9;
    --sage: #BABD8D;
    --salmon: #FF8E72;
    --pistachio: #a1cf6bff;
    --straw: #d5d887ff;
    --citron: #e0c879ff;
    --bittersweet: #e87461ff;
    --raisin-black: #232020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-color: var(--licorice);
    color: var(--sea-salt);
}

.off-screen {
    display: none;
}

/***** DropdownButton Component *****/
.dropdown-button {
    background-color: var(--raisin-black);
    position: relative;
    border: 2px solid var(--sea-salt);
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
    color: var(--sea-salt);
    font-weight: bold;
}

.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-button__header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.dropdown-button__list {
    background-color: var(--raisin-black);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 41px;
    left: 0px;
    width: 100%;
    border: 2px solid var(--sea-salt);
    border-radius: 20px;
    z-index: 10;
}

.dropdown-button__item {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 10px 0px;
    text-decoration: none;
    color: var(--sea-salt);
    font-size: medium;
    font-weight: normal;
    text-align: center;
}

.dropdown-button__item:hover {
    color: var(--sage);
}

.dropdown-button__signout {
    color: var(--tomato);
}

/***** Header Component *****/
.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    color: var(--sea-salt);
    background-color: transparent;
    z-index: 100;
}

.header__scrolled {
    background-color: rgba(35, 32, 32, 0.8);
}

.header__nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header__nav a {
    text-decoration: none;
    color: var(--sea-salt);
}

.header__nav a:hover {
    transform: scale(1.05);
}

.header__login-button {
    border: 2px solid var(--sea-salt);
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
    color: var(--sea-salt);
    font-weight: bold;
}

.header__login-button:hover {
    transform: scale(1.05);
}

/***** Footer Component *****/
.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    background-color: var(--licorice);
    color: var(--sea-salt);
}

.footer h1 {
    color: var(--avocado);
}

.footer__title-column {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer__column h5 {
    font-size: medium;
    padding-bottom: 5px;
    color: var(--pistachio);
}

.footer__column p {
    font-size: small;
}

/***** Welcome Component *****/
.welcome__background {
    position: absolute;
    top: 0;
    background-image: linear-gradient(to bottom, transparent, var(--licorice)), url("./images/welcome.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.welcome {
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 67.5px);
    color: var(--sea-salt);
    padding: 50px;
}

.welcome__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.welcome__text h2 {
    font-size: 40px;
    padding-bottom: 10px;
    color: var(--sea-salt);
}

.welcome__text p {
    font-size: large;
}

.welcome__text span {
    font-weight: bold;
    color: var(--avocado);
    font-size: larger;
}

.welcome__text a {
    background-color: var(--avocado);
    padding: 10px 40px;
    text-decoration: none;
    color: var(--sea-salt);
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
}

.welcome__text a:hover {
    transform: scale(1.05);
}

/***** Home Component *****/
.home {
    color: var(--sea-salt);
    background-color: var(--licorice);
    padding: 20px;
}

/***** Register Component *****/
.register {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/register.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register h1 {
    text-align: center;
    color: var(--avocado);
}

.register h1:hover {
    cursor: pointer;
}

.register h2 {
    text-align: center;
}

.register a {
    text-decoration: none;
    color: var(--sage);
    font-style: italic;
}

.register a:hover {
    font-weight: bold;
}

.register__container {
    color: white;
    background-color: var(--licorice);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    width: 400px;
}

.register__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.register__input {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid var(--sea-salt);
}

.register__input-invalid {
    border: 2px solid var(--tomato);
}

.register__form button {
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid var(--avocado);
    background-color: var(--avocado);
    color: black;
    width: 100%;
    padding: 10px;
}

.register__form button:hover {
    border: 2px solid var(--asparagus);
    background-color: var(--asparagus);
    cursor: pointer;
}

.register__form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.register__instruction {
    font-size: small;
    border-radius: 10px;
    background-color: var(--raisin-black);
    color: white;
    padding: 10px;
}

.register__errmsg {
    text-align: center;
    color: var(--tomato);
}

.register__sucmsg {
    text-align: center;
    color: var(--asparagus);
}

/***** Login Component *****/
.login {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login h1 {
    text-align: center;
    color: var(--avocado);
}

.login h1:hover {
    cursor: pointer;
}

.login h2 {
    text-align: center;
}

.login a {
    text-decoration: none;
    color: var(--sage);
    font-style: italic;
}

.login a:hover {
    font-weight: bold;
}

.login__container {
    color: white;
    background-color: var(--licorice);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    width: 400px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.login__input {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid var(--sea-salt);
}

.login__form button {
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid var(--avocado);
    background-color: var(--avocado);
    color: black;
    width: 100%;
    padding: 10px;
}

.login__form button:hover {
    border: 2px solid var(--asparagus);
    background-color: var(--asparagus);
    cursor: pointer;
}

.login__form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.login__persist {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login__persist input {
    height: 15px;
    width: 15px;
}

.login__errmsg {
    text-align: center;
    color: var(--tomato);
}

/***** Recipe Finder Component *****/
.recipe-finder {
    height: 100vh;
}

.recipe-finder__header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--raisin-black);
    box-shadow: 0px 2px 2px black;
    padding-bottom: 10px;
}

.recipe-finder__header h1 {
    color: var(--avocado);
    font-size: medium;
}

.recipe-finder__header h1:hover {
    cursor: pointer;
}

.recipe-finder__header a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 19px;
    font-weight: bold;
}

.recipe-finder__header a:hover {
    transform: scale(1.05);
}

.recipe-finder__header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px;
}

.recipe-finder__filter-container {
    gap: 10px;
}

.recipe-finder__search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.recipe-finder__search-bar {
    width: 50vw;
    padding: 10px 90px 10px 20px;
    border: 2px solid white;
    border-radius: 22.5px;
    color: black;
    font-size: large;
    background-color: white;
}

.recipe-finder__search-button {
    position: absolute;
    right: 6px;
    padding: 5px 10px;
    background-color: var(--avocado);
    color: white;
    border: 2px solid var(--avocado);
    border-radius: 16px;
    font-size: medium;
}

.recipe-finder__search-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.recipe-finder__reset-button {
    padding: 5px 20px;
    border-radius: 22px;
    color: white;
    background-color: var(--avocado);
}

.recipe-finder__reset-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/***** Recipe Result Component *****/
.recipe-result {
    background-color: var(--licorice);
    height: calc(100vh - 133.5px);
    display: flex;
    justify-content: center;
    color: white;
    padding: 0px 80px;
}

.recipe-result__error {
    align-items: center;
    color: var(--tomato);
    font-size: x-large;
    font-weight: bold;
}

.recipe-result__loading {
    align-items: center;
    color: var(--pumpkin);
    font-size: x-large;
    font-weight: bold;
}

.recipe-result__container {
    display: flex;
    flex: 1;
}

.recipe-result__list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.recipe-result__count {
    height: 60px;
    background-color: var(--avocado);
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--licorice);
}

.recipe-result__card-container {
    flex: 1;
    overflow-y: scroll;
    background-color: var(--raisin-black);
}

.recipe-result__no-card-container {
    display: flex;
    background-color: var(--raisin-black);
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    flex: 1;
}

.recipe-result__detail-container {
    flex: 1;
    overflow-y: scroll;
    background-color: var(--raisin-black);
}

/***** Recipe Card Component *****/
.recipe-card {
    width: 100%;
    height: 200px;
    box-shadow: 0px 2px 2px var(--licorice);
    padding: 20px;
    display: flex;
    gap: 10px;
}

.recipe-card:hover {
    cursor: pointer;
    background: linear-gradient(to right, var(--raisin-black), var(--licorice));
}

.recipe-card__focused {
    background-color: var(--licorice);
}

.recipe-card__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    flex: 1;
}

.recipe-card__desc h6 {
    color: var(--sea-salt);
    font-size: larger;
}

.recipe-card__desc-row {
    display: flex;
    justify-content: space-between;
}

.recipe-card__desc a {
    text-decoration: none;
    font-style: italic;
    color: var(--sage);
}

.recipe-card__desc a:hover {
    font-weight: bold;
}

/***** Recipe Detail Component *****/
.recipe-detail {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe-detail__no-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sea-salt);
    height: 100%;
}

.recipe-detail__row {
    display: flex;
    gap: 10px;
}

.recipe-detail__col {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: baseline;
    padding: 0px 10px;
    word-wrap: break-word;
}

.recipe-detail__col h1 {
    font-size: x-large;
    color: var(--sea-salt);
    padding-bottom: 5px;
}

.recipe-detail__col h2 {
    font-size: x-large;
    color: var(--pistachio);
    padding-bottom: 5px;
}

.recipe-detail__col h6 {
    font-size: large;
    color: var(--pistachio);
}

.recipe-detail__col p {
    font-size: medium;
    color: var(--sea-salt);
}

.recipe-detail__col a {
    text-decoration: none;
    font-style: italic;
    color: var(--sage);
}

.recipe-detail__col a:hover {
    font-weight: bold;
}

.recipe-detail__chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.recipe-detail__chip {
    background-color: var(--citron);
    color: var(--raisin-black);
    padding: 1px 7px;
    border-radius: 11px;
    font-size: small;
}

/***** Profile Component *****/
.profile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    padding: 20px;
    min-height: calc(100vh - 67.5px);
    width: 80%;
    background-color: var(--licorice);
}

/***** AccountSetting Component *****/
.account-setting {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.account-setting form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.account-setting__form-row {
    display: flex;
    align-items: center;
}

.account-setting__form-row label {
    color: var(--sea-salt);
    font-weight: bold;
    font-size: large;
    min-width: 120px;
}

.account-setting__form-row input {
    width: 400px;
    border-radius: 10px;
    border: 2px solid var(--sea-salt);
    padding: 10px 20px;
    background-color: var(--raisin-black);
    color: var(--sea-salt);
    font-weight: bold;
}

.account-setting__form-row input:disabled {
    border: 2px solid var(--raisin-black);
}

.account-setting h2 {
    color: var(--avocado);
}

.account-setting__button-container {
    display: flex;
    gap: 20px;
}

.account-setting__button {
    padding: 5px 20px;
    border-radius: 5px;
    color: var(--sea-salt);
    font-weight: bold;
}

.account-setting__button:hover {
    cursor: pointer;
}

.account-setting__edit-button {
    background-color: var(--sage);
    border: 2px solid var(--sage);
}

.account-setting__cancel-button {
    background-color: var(--tomato);
    border: 2px solid var(--tomato);
}

.account-setting__save-button {
    background-color: var(--asparagus);
    border: 2px solid var(--asparagus);
}

.account-setting__save-button:disabled {
    cursor: default;
    background-color: var(--raisin-black);
    border: 2px solid var(--raisin-black);
}

/***** PreferenceSetting Component *****/
.preference-setting {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.preference-setting h2 {
    color: var(--avocado);
}

.preference-setting h4 {
    color: var(--sea-salt);
    font-weight: bold;
    font-size: large;
}

.preference-setting__error {
    color: var(--tomato);
    font-weight: bold;
}

.preference-setting__loading {
    color: var(--citron);
    font-weight: bold;
}

.preference-setting__initialize {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--raisin-black);
    border-radius: 10px;
}

.preference-setting__initialize-button {
    background-color: var(--raisin-black);
    color: var(--avocado);
    font-weight: bold;
    font-size: medium;
    font-style: italic;
    border: none;
}

.preference-setting__initialize-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.preference-setting__error {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--raisin-black);
    border-radius: 10px;
    color: var(--tomato);
}

.preference-setting__favorites {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.preference-setting__chip-container {
    background-color: var(--raisin-black);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.preference-setting__chip {
    padding: 5px 10px;
    background-color: var(--asparagus);
    border-radius: 17px;
    display: flex;
    align-items: center;
    font-size: small;
    gap: 3px;
}

.preference-setting__chip:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.preference-setting__add {
    display: flex;
    gap: 10px;
}

.preference-setting__input {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--sea-salt);
    background-color: var(--raisin-black);
    color: var(--sea-salt);
    width: 400px;
}

.preference-setting__add-button {
    background-color: var(--sage);
    color: var(--sea-salt);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid var(--sage);
}

.preference-setting__ingredients {
    display: flex;
    flex-direction: column;
    gap: 20px;
}