@import "./colors.css";

.recipe-detail {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(66, 62, 59, 0.05);
}

.recipe-detail img {
    box-shadow: 0 0 1px 0 var(--raisin-black);
}

.recipe-detail__row {
    display: flex;
    gap: 10px;
}

.recipe-detail__col {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: baseline;
    padding: 0px 10px;
    word-wrap: break-word;
}

.recipe-detail__col h1 {
    font-size: x-large;
    color: var(--asparagus);
    padding-bottom: 5px;
}

.recipe-detail__col h2 {
    font-size: medium;
    color: var(--asparagus);
    padding-bottom: 5px;
}

.recipe-detail__col h6 {
    font-size: medium;
    color: var(--asparagus);
}

.recipe-detail__col p {
    font-size: small;
    color: var(--raisin-black);
}

.recipe-detail__col a {
    text-decoration: none;
    font-style: italic;
    font-size: small;
    color: var(--bittersweet);
}

.recipe-detail__col a:hover {
    text-shadow: 0 0 3px var(--bittersweet);
}

.recipe-detail__chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.recipe-detail__chip {
    background-color: var(--asparagus);
    color: var(--sea-salt);
    padding: 1px 7px;
    border-radius: 11px;
    font-size: small;
}

.recipe-detail__no-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}