@import "./colors.css";

.account-setting-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.account-setting-form__row {
    display: flex;
    align-items: center;
}

.account-setting-form__row label {
    color: var(--raisin-black);
    font-size: large;
    min-width: 120px;
}

.account-setting-form__row input {
    width: 400px;
    border-radius: 10px;
    border: 2px solid var(--raisin-black);
    padding: 10px 20px;
    background-color: var(--sea-salt);
    color: var(--raisin-black);
}

.account-setting-form__row input:disabled {
    background-color: rgba(35, 32, 32, 0.3);
    border: 1px solid rgba(35, 32, 32, 0.3);
}

.account-setting-form__button-container {
    display: flex;
    gap: 20px;
}

.account-setting-form__button {
    padding: 5px 20px;
    border-radius: 5px;
    color: var(--sea-salt);
    font-weight: bold;
}

.account-setting-form__button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 0 var(--raisin-black);
}

.account-setting-form__edit-button {
    background-color: var(--raisin-black);
    border: 1px solid var(--raisin-black);
}

.account-setting-form__cancel-button {
    background-color: var(--tomato);
    border: 1px solid var(--tomato);
}

.account-setting-form__save-button {
    background-color: var(--asparagus);
    border: 1px solid var(--asparagus);
}

.account-setting-form__save-button:disabled {
    cursor: default;
    background-color: var(--raisin-black);
    border: 1px solid var(--raisin-black);
}