:root {
    --licorice: #110B11;
    --asparagus: #60935dff;
    --avocado: #598B2C;
    --tomato: #F95738;
    --sea-salt: #FCFAF9;
    --sage: #BABD8D;
    --pistachio: #a1cf6bff;
    --citron: #e0c879ff;
    --bittersweet: #e87461ff;
    --raisin-black: #232020;
    --black-olive: #423E3B;
}