@import "./colors.css";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: var(--sea-salt);
    color: var(--raisin-black);
    gap: 10px;
}

.footer h1 {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--avocado);
}

.footer h1 svg {
    height: 48px;
    width: 48px;
}

.footer__tech-stack {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer__tech-stack span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/***** Media Query *****/
@media screen and (max-width: 768px) {
    .footer__tech-stack {
        display: none;
    }
}