.recipe-suggest {
    min-height: 100vh;
    padding: 108px 0px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe-suggest__msg {
    justify-content: center;
    align-items: center;
}