@import "./colors.css";

.register {
    height: 100vh;
    background-image: linear-gradient(rgba(252, 250, 249, 0.3), rgba(252, 250, 249, 0.3)), url("../../images/register.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register__container {
    color: var(--raisin-black);
    background-color: var(--sea-salt);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 1px 0 var(--raisin-black);
}

.register__container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--avocado);
    font-size: xx-large;
}

.register__container h1:hover {
    cursor: pointer;
}

.register__container h2 {
    text-align: center;
}

.register__container p {
    font-size: small;
}

.register__container a {
    text-decoration: none;
    color: var(--bittersweet);
    font-style: italic;
    font-size: small;
}

.register__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    font-size: small;
}

.register__input {
    background-color: var(--sea-salt);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid var(--asparagus);
    font-family: "Poppins", sans-serif;
}

.register__input-invalid {
    border: 2px solid var(--tomato);
}

.register__form button {
    border-radius: 10px;
    border: none;
    background-color: var(--asparagus);
    color: var(--sea-salt);
    width: 100%;
    padding: 10px;
}

.register__form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.register__instruction {
    font-size: small;
    border-radius: 10px;
    background-color: rgba(96, 147, 93, 0.5);
    color: white;
    padding: 10px;
    height: 117.5px;
}

.register__errmsg {
    text-align: center;
    color: var(--tomato);
}

.register__sucmsg {
    text-align: center;
    color: var(--asparagus);
}